[submodule "lib/mezzanine-agenda"]
	path = lib/mezzanine-agenda
	url = https://github.com/yomguy/mezzanine-agenda.git
	branch = manifeste-2017
[submodule "lib/mezzanine"]
	path = lib/mezzanine
	url = https://github.com/yomguy/mezzanine.git
	branch = master
[submodule "var"]
	path = var
	branch = master
[submodule "bin"]
	path = bin
	url = git+ssh://git@git.forge.ircam.fr/mezzanine-organization-bin.git
