doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/wp3_m3_ircam.md
      include ../slides/wp3_m3_libelium.md
      include ../slides/wp3_m6_ircam.md
    include inc/scripts
